@model CrudMVC.Models.Contact

@{
    ViewData["Title"] = "New Contact";
}

<!DOCTYPE html>

<html>
<head>
    <title>New Contact</title>
</head>
<body>
<div>
    <h1 class="text-center"> New Contact</h1>
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Enter email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Phone</label>
            <input asp-for="Phone" class="form-control" placeholder="Enter phone"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Direction" class="form-label">Direction</label>
            <input asp-for="Direction" class="form-control" placeholder="Enter direction"/>
            <span asp-validation-for="Direction" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
         <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>

</div>
</body>
</html>